name: Check Actions

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/**.yml'
  pull_request:
    paths:
      - '.github/workflows/**.yml'

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v5

      - name: Install and Run Actionlint
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color
